* { box-sizing: border-box; margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; }

a {
  text-decoration: none;
  color: #000;
}

.fisica {
  background-color: #beff8b;
}

.dados {
  background-color: #ecf47a;
}

.computacao {
  background-color: #ffc555;
}

.matematica {
  background-color: #ff8aef;
}

body {
  color: #000;
  background-color: #CCC4AF;  
}

header {
  background-color: #000;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 a{
    font-size: 1.5em;
    margin: 0px;
    margin-left: 10px;
    text-align: center;
    color: #f3f3f3;
  }

header a img {
  width: 200px;
  height: 50px;
}

header div {
  display: flex;
  justify-content: space-between;
}

header div a {
  background-color: #f3f3f3;
  margin: 0px 2px;
  padding: 10px;
}

main div {
  margin-top: 20px;
}

main #busca {
  margin-top: 50px;
  display: flex;
  justify-content: center;

}

main #busca input {
  height: 40px;
  width: 400px;
  border-radius: 20px;
  padding-left: 10px;
  border: solid 2px #000;
} 

main #enfases {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

main #enfases a{
  padding: 10px;
  border-radius: 30px;
  border: solid 2px #000;
  width: 200px;

}

/* main div.categoria {
} */

main div.categoria h2 {
  margin-left: 100px;
}

main ul.conteudo {
  display: flex;
  margin-left: 100px;
}

main ul.conteudo li{
  margin: 10px;
  border: solid 2px #000;
  border-radius: 15px;
  width: 250px;
  height: 250px;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main ul.conteudo li .repr{
  background-color: #f3f3f3;
  margin: 0px;
  border-radius: 14px 14px 0px 0px;
  width: 100%;
  height: 80%;

}

main ul.conteudo li h3{
  margin-top: 10px;
  text-align: left;
  border-radius: 15px;
}

footer {
  margin-top: 30px;
  border-top: solid 1px #000;
  padding: 20px;
  text-align: center;
  color: #555;
}